.cartMaster {
	background-color: var(--light-font-color);
	color: var(--dark-font-color);
	padding: 1rem;
	font-size: 1.5rem;
	border: 4px solid var(--main-red-color);
	border-top: 0;
	position: absolute;
	top: 75px;
	right: 20px;
	width: 290px;
	/* min-height: 400px; */
	max-height: 650px;
	height: min-content;
	z-index: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.cartContainer {
	/* width: 100%;
	max-height: 650px;
	height: 100%; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cartBody {
	margin: 1rem 0 1.5rem;
	width: 100%;
	height: max-content;
	/* min-height: 60%;
	height: min-content; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	row-gap: 0.5rem;
	overflow-y: scroll;
	scrollbar-width: 0;
}
.cartEntry {
	/* background-color: green; */
	border: 2px solid var(--main-red-color);
	border-left: 0;
	border-right: 0;
	width: 100%;
	height: 100px;
	overflow: hidden;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 1fr;
}
.cartEntryImage {
	grid-area: 1 / 1 / span 1 / span 1;
}
.cartEntryName {
	grid-area: 1 / 2 / span 1 / span 1;
	font-size: 1rem;
	font-weight: 600;
	color: var(--dark-font-color);
}
.cartEntryPrice {
	color: var(--main-red-color);
	font-size: 1.3rem;
	font-weight: 900;
}
.cartTotalPrice {
	margin-bottom: 0.5rem;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}
.cartTotalPriceNumber {
	font-size: 1.8rem;
	font-weight: 900;
	color: var(--main-red-color);
}
.checkoutButton {
	border: 0;
	border-radius: 4px;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.75rem 1.8rem;
}
.checkoutButton:hover {
	outline: 3px solid var(--main-red-color);
	background-color: var(--light-font-color);
	color: var(--main-red-color);
}
