.cartMaster {
	background-color: var(--light-font-color);
	color: var(--dark-font-color);
	padding: 1rem;
	font-size: 1.5rem;
	border: 4px solid var(--main-red-color);
	border-top: 0;
	position: absolute;
	top: 68px;
	right: 20px;
	width: 290px;
	max-height: 650px;
	height: min-content;
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.cartContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
}
.cartBody {
	text-align: left;
	margin: 1rem 0 1.5rem;
	width: 100%;
	height: max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	row-gap: 0.5rem;
	overflow: hidden;
}
.cartEntry {
	padding: 0.25rem 0.35rem;
	border: 2px solid var(--main-red-color);
	border-left: 0;
	border-right: 0;
	width: 100%;
	max-height: 170px;
	height: min-content;
	overflow: hidden;
	display: grid;
	grid-template-columns: 35% 55% 10%;
	grid-template-rows: repeat(3, auto);
	scrollbar-width: 0;
}
.cartEntryImage {
	grid-area: 1 / 1 / span 2 / span 1;
}
.cartEntryBody {
	grid-area: 1 / 2 / span 2 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	gap: 0.2rem;
}
.cartEntryName {
	grid-area: 1 / 2 / span 2 / span 1;
	font-size: 1rem;
	font-weight: 600;
	color: var(--dark-font-color);
}
.cartEntryInfo {
	width: 100%;
	grid-area: 3 / 1 / span 1 / span 3;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cartEntryPrice {
	color: var(--main-red-color);
	font-size: 1.5rem;
	font-weight: 900;
}
.itemQuantity {
	font-size: 1.1rem;
	font-weight: 700;
}
.qtyLabel {
	font-size: 1rem;
	font-weight: 400;
}
.removeButton {
	font-size: 12px;
	/* padding: 0.25rem 0; */
	font-weight: 700;
	border: 0;
	outline: 0;
	border-radius: 2px;
	background-color: var(--light-font-color);
	color: var(--main-red-color);
	grid-area: 1 / 3 / span 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
.removeButton:hover {
	/* outline: 2px solid var(--main-red-color); */
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	cursor: pointer;
}
.cartTotalPrice {
	margin-bottom: 0.5rem;
	font-weight: 700;
	display: flex;
	justify-content: space-between;
}
.cartTotalPriceNumber {
	font-size: 1.8rem;
	font-weight: 900;
	color: var(--main-red-color);
}
.checkoutButton {
	border: 3px solid var(--main-red-color);
	border-radius: 4px;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.75rem 1.8rem;
	cursor: pointer;
}
.checkoutButton:hover {
	border: 3px solid var(--main-red-color);
	background-color: var(--light-font-color);
	color: var(--main-red-color);
}
