.mainContainer {
	margin: 1rem 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.guitarsContainer {
	width: 75%;
	height: 100%;
	margin-top: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	gap: 2rem;
}
.categoryHeading {
	font-size: 3.5rem;
	font-weight: 900;
}
.heroCarousel {
	margin-top: 1rem;
}
.searchBar {
	margin-top: 2rem;
	width: 400px;
	font-size: 1.5rem;
	padding: 0.75rem 1.5rem;
}
.searchBar:focus {
	outline: 3px solid var(--main-red-color);
}
.guitarCard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	max-width: 250px;
	height: 480px;
}
.guitarPrice {
	font-weight: 900;
	font-size: 2rem;
	color: var(--main-red-color);
	display: flex;
	align-self: flex-start;
}
