.mainContainer {
	margin: 1rem 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.categoryHeading {
	font-size: 3.5rem;
	font-weight: 900;
}
/* .middle {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 10% 10% 65% 15%;
	grid-template-areas: 'a . b .';
} */
.heroCarousel {
	margin-top: 1rem;
}
.productsMaster {
	width: 60%;
	height: 100%;
	margin-top: 5rem;
}
.productsContainer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	/* justify-self: center; */
	/* justify-content: center; */
	/* align-items: flex-start; */
	/* gap: 2rem; */
}
.productCard {
	display: flex;
	flex-direction: column;
	/* flex-basis: 33.3333333%; */
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	max-width: 100%;
	height: 480px;
}
.productPrice {
	font-weight: 900;
	font-size: 2rem;
	color: var(--main-red-color);
	display: flex;
	align-self: flex-start;
}
