.mainContainer {
	margin: 0 2rem;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.categoryHeading {
	width: var(--home-full-width);
	background-color: var(--body-background-color);
	color: var(--dark-font-color);
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
	padding: 2rem 0;
}
.categoryHeadingGuitar {
	background-color: var(--dark-gray);
	color: var(--light-font-color);
}
.categoryHeadingAmp,
.categoryHeadingEffect {
	padding: 2rem 0 4rem;
	background-color: var(--body-background-color);
	color: var(--main-red-color);
}
.filterBarMaster {
	width: 75%;
	background-color: #444444;
	color: var(--light-font-color);
	font-weight: 700;
	display: flex;
	justify-content: center;
}
.filterBar {
	width: 100%;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.filterBarRight {
	display: flex;
	justify-content: flex-start;
	gap: 6rem;
}
.filterBarCategory {
	position: relative;
	padding: 1.5rem 0.1rem 1.5rem 0.1rem;
	font-weight: 300;
	display: flex;
	/* align-items: center; */
	height: 100%;
	transition: 0.2s all ease-out;
	cursor: pointer;
}
.filterBarCategory:after {
	content: '';
	background-color: var(--light-font-color);
	height: 3px;
	width: 0;
	position: absolute;
	left: 0;
	bottom: 18px;
	transition: 0.2s ease-out;
}
.filterBarCategory:hover:after {
	width: 100%;
}
/* .filterBarCategory:hover {
	background-color: var(--light-font-color);
	color: var(--dark-font-color);
} */
/* .middle {
	position: relative;
	width: 100%;
	display: grid;
	grid-template-columns: 10% 10% 65% 15%;
	grid-template-areas: 'a . b .';
} */
.heroCarousel {
	margin-top: 1rem;
}
.productsMaster {
	width: inherit;
	height: 100%;
	/* padding: 2rem 0 0; */
	display: flex;
	justify-content: center;
	/* margin-top: 2rem; */
}
.productsContainer {
	/* background-color: lightgray; */
	width: 70%;
	padding: 2rem 0 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr 1fr;
	justify-items: center;
	row-gap: 1rem;
}
.productCard {
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 0;
	max-width: 250px;
	height: 480px;
	transition: 0.15s all ease-out;
}
.productCard:hover {
	box-shadow: 0px 0px 10px 10px lightgray;
	transform: scale(1.03);
}
.productCardImage {
	align-self: center;
}
.productInfo {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* align-self: flex-end; */
}
.productPrice {
	font-weight: 900;
	font-size: 2rem;
	color: var(--main-red-color);
	display: flex;
	/* align-self: flex-start; */
}
.productRating {
	font-size: 1.5rem;
	color: var(--main-red-color);
	font-weight: 700;
}
