.footerMaster {
	width: 100%;
	padding: 5rem 10rem;
	margin: 0;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
}
.footerContainer {
	width: 100%;
	display: grid;
	grid-template-columns: 40% 10% 50%;
	grid-template-rows: 1fr;
}
.logoSocials {
	grid-area: 1 / 1 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.socials {
	list-style: none;
	width: 150px;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.address {
	font-size: 0.9rem;
	line-height: 1.3rem;
}
.siteMap {
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: 0.15s all ease-out;
}
.sitemapLink:hover {
	text-decoration: underline;
}
.credits {
	grid-area: 1 / 3 / span 1 / span 1;
	text-align: right;
	line-height: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	justify-self: flex-end;
	align-self: flex-end;
}
