.homeMaster {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	scroll-snap-type: y mandatory;
}
.guitarContainer {
	width: 100%;
}

.guitarHero,
.ampHero,
.effectHero {
	margin-top: 0;
	width: var(--home-full-width);
	height: var(--home-full-height);
}
.guitarHero,
.ampHero,
.effectHero {
	max-height: 855px;
	background-color: #1e1e1e;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	align-items: center;
}
.ampHero {
	grid-template-columns: 60% 40%;
	background-color: var(--main-red-color);
}
.effectHero {
	background-color: var(--body-background-color);
	color: var(--main-red-color);
}

/* GUITARS */

.guitarLeftColumn {
	height: 80%;
	grid-area: 1 / 1 / span 1 / span 1;
	padding: 0 0 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	border-right: 1px solid #eeeeee;
}
.guitarRightColumn {
	position: relative;
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.guitarsText {
	color: var(--light-font-color);
	font-size: 7rem;
}
.browseButton {
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	max-width: fit-content;
	outline: 3px solid var(--main-red-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	transition: 0.15s all ease-out;
}

/* AMPS */

.ampLeftColumn {
	position: relative;
	grid-area: 1 / 1 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.ampRightColumn {
	height: 80%;
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 2rem;
	padding: 0 5rem 0 0;
	border-left: 1px solid #eeeeee;
}
.ampsText {
	color: var(--light-font-color);
	font-size: 10vmin;
}
.browseButtonAmp {
	max-width: fit-content;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 0.8rem 1.6rem;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	transition: 0.15s all ease-out;
}
.browseButtonAmp:hover {
	background-color: var(--main-red-color);
	outline: 3px solid var(--dark-font-color);
}

/* EFFECTS */

.effectLeftColumn {
	z-index: 3;
	height: 80%;
	grid-area: 1 / 1 / span 1 / span 1;
	padding: 0 0 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	border-right: 1px solid #1e1e1e;
	background-color: var(--body-background-color);
}
.effectRightColumn {
	position: relative;
	z-index: 2;
	height: 80%;
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--body-background-color);
}
.effectText {
	color: var(--main-red-color);
	font-size: 5rem;
}
.browseButtonEffect {
	max-width: fit-content;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	transition: 0.15s all ease-out;
}
.browseButtonEffect:hover {
	background-color: rgba(var(--light-font-color) 0.5);
	color: var(--main-red-color);
	outline: 3px solid var(--dark-font-color);
}
@media (max-width: 1200px) {
	.guitarHero,
	.ampHero,
	.effectHero {
		min-height: 750px;
	}
	.guitarsText {
		font-size: 5rem;
	}
	.browseButton {
		font-size: 1.4rem;
	}
	.ampsText {
		font-size: 3.6rem;
	}
	.browseButtonAmp {
		font-size: 1.4rem;
	}
	.effectText {
		font-size: 4rem;
	}
	.browseButtonEffect {
		font-size: 1.4rem;
	}
}
@media (max-width: 900px) {
	.guitarHero,
	.ampHero,
	.effectHero {
		min-height: 800px;
	}
	.guitarHero,
	.effectHero {
		grid-template-columns: 45% 55%;
	}
	.guitarLeftColumn,
	.effectLeftColumn {
		padding: 0 0 0 2.5rem;
	}
	.guitarsText {
		font-size: 4rem;
	}
	.browseButton {
		font-size: 1.4rem;
	}
	.ampRightColumn {
		padding: 0 2.5rem 0 0;
	}
	.ampsText {
		font-size: 3rem;
	}
	.browseButtonAmp {
		font-size: 1.4rem;
	}
	.effectText {
		font-size: 3rem;
	}
	.browseButtonEffect {
		font-size: 1.4rem;
	}
}
@media (max-width: 600px) {
	.guitarHero,
	.ampHero,
	.effectHero {
		min-height: 800px;
	}
	.guitarHero {
		grid-template-columns: 1fr;
		grid-template-rows: 15% 85%;
	}

	.ampHero {
		grid-template-columns: 1fr;
		grid-template-rows: 70% 30%;
	}
	.guitarLeftColumn,
	.ampLeftColumn,
	.effectLeftColumn {
		grid-area: 1 / 1 / span 1 / span 1;
	}
	.guitarRightColumn,
	.ampRightColumn,
	.effectRightColumn {
		grid-area: 2 / 1 / span 1 / span 1;
	}
	.guitarLeftColumn,
	.ampRightColumn {
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-items: center;
		align-items: center;
		padding: 0;
		column-gap: 0.5rem;
	}
	.guitarLeftColumn,
	.effectLeftColumn {
		border-right: 0;
	}
	.guitarLeftColumn {
		border-bottom: 1px solid #eeeeee;
	}
	.effectHero {
		grid-template-columns: 1fr;
		grid-template-rows: 25% 75%;
	}
	.effectLeftColumn {
		padding: 0;
		border-bottom: 1px solid #1e1e1e;
		display: grid;
		justify-items: center;
		align-items: center;
		row-gap: 0.5rem;
	}
	.guitarsText {
		font-size: 3.3rem;
	}
	.browseButton {
		font-size: 1.4rem;
		width: fit-content;
		height: fit-content;
	}
	.ampsText {
		font-size: 2.6rem;
	}
	.ampRightColumn {
		border-top: 1px solid #eeeeee;
		border-left: 0;
	}
	.browseButtonAmp {
		font-size: 1.2rem;
		padding: 0.8rem 1.6rem;
	}
	.effectText {
		font-size: 2.5rem;
	}
	.browseButtonEffect {
		font-size: 1.4rem;
	}
}
