.homeMaster {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	scroll-snap-type: y mandatory;
}
.guitarContainer {
	width: 100%;
}
.guitarHero,
.ampHero,
.effectHero {
	position: relative;
	margin-top: 0;
	width: calc(100vw - 17px);
	height: calc(100vh - 80px);
}
/* GUITARS HERO */
.redBg,
.blackBg,
.prs,
.explorer,
.schecter {
	max-width: 100%;
	position: absolute;
}
.redBg,
.blackBg,
.prs {
	height: inherit;
}
.redBg {
	max-height: 514px;
	z-index: 2;
	bottom: 0;
}
.blackBg {
	top: 0;
	left: 0;
}
.prs,
.explorer,
.schecter {
	z-index: 3;
}
.prs {
	max-height: 780px;
	right: 45%;
}
.explorer {
	max-height: 612px;
	top: 8%;
	right: 23%;
}
.schecter {
	max-height: 383px;
	top: 18%;
	right: 5%;
}
.guitarsText {
	position: absolute;
	color: var(--light-font-color);
	font-size: 7rem;
	top: 30%;
	left: 4%;
}
.browseButton {
	position: absolute;
	z-index: 7;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	outline: 3px solid var(--main-red-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	top: 48%;
	left: 5%;
	transition: 0.15s all ease-out;
}
.browseButton:hover {
	background-color: rgba(var(--light-font-color) 0.5);
	/* color: var(--main-red-color); */
	outline: 3px solid var(--main-red-color);
}

/* AMPS HERO */
.ampHero {
	/* max-height: 100vh; */
	height: calc((100vw - 89px) / 1.7777777778);
}
.redAmpBgImg,
.blackAmpBgImg,
.marshall {
	max-width: 100%;
	position: absolute;
}
.blackAmpBgImg {
	/* max-height: 1080px; */
	z-index: 2;
	/* top: 0; */
}
.redAmpBgImg {
	/* max-height: 995px; */
	/* bottom: 0; */
	z-index: 3;
}
.marshall {
	z-index: 5;
	/* top: 15%;
	left: 4%; */
}
.ampsText {
	z-index: 1000;
	position: absolute;
	color: var(--light-font-color);
	font-size: 10vmin;
	top: 45%;
	right: 5%;
}
.browseButtonAmp {
	position: absolute;
	z-index: 70;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 1vmin 2vmin;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 3vmin;
	top: 64%;
	right: 5%;
	transition: 0.15s all ease-out;
}
.browseButtonAmp:hover {
	background-color: var(--main-red-color);
	/* color: var(--dark-font-color); */
	outline: 3px solid var(--dark-font-color);
}

.homeHeading {
	font-weight: 800;
	font-size: 3rem;
}
.tagline {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
}

/* EFFECTS HERO */
.effectHero {
	height: calc((100vw - 89px) / 1.7777777778);
}

.redEffectBgImg,
.blackEffectBgImg,
.afterneathImg,
.phase90Img,
.bigSkyImg {
	/* max-height: 100%; */
	max-width: 100%;
	position: absolute;
}
.redEffectBgImg {
	z-index: 2;
	/* left: 0;
	bottom: 0; */
}
.blackEffectBgImg {
	z-index: 1;
	/* right: 0;
	bottom: 0; */
}
.afterneathImg,
.phase90Img,
.bigSkyImg {
	z-index: 3;
}
/* .afterneathImg,
.bigSkyImg {
	bottom: 4%;
}
.afterneathImg {
	left: 4%;
}
.bigSkyImg {
	left: 30%;
}
.phase90Img {
	right: 10%;
	top: 10%;
} */
.effectText {
	z-index: 4;
	position: absolute;
	color: var(--main-red-color);
	font-size: 7rem;
	top: 3%;
	left: 18%;
}
.browseButtonEffect {
	position: absolute;
	z-index: 7;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	top: 20%;
	left: 34%;
	transition: 0.15s all ease-out;
}
.browseButtonEffect:hover {
	background-color: rgba(var(--light-font-color) 0.5);
	color: var(--main-red-color);
	outline: 3px solid var(--dark-font-color);
}
