.homeMaster {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	scroll-snap-type: y mandatory;
}
.guitarContainer {
	width: 100%;
}

.guitarHero,
.ampHero,
.effectHero {
	margin-top: 0;
	width: var(--home-full-width);
	height: var(--home-full-height);
}
.guitarHero,
.ampHero,
.effectHero {
	max-height: 855px;
	background-color: #1e1e1e;
	display: grid;
	grid-template-columns: 40% 60%;
	grid-template-rows: 1fr;
	align-items: center;
}
.ampHero {
	grid-template-columns: 60% 40%;
	background-color: var(--main-red-color);
}
.effectHero {
	background-color: var(--body-background-color);
	color: var(--main-red-color);
}

/* GUITARS */

.guitarLeftColumn {
	height: 80%;
	grid-area: 1 / 1 / span 1 / span 1;
	padding: 0 0 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	border-right: 1px solid #eeeeee;
}
.guitarRightColumn {
	position: relative;
	/* height: 80%; */
	grid-area: 1 / 2 / span 1 / span 1;
	/* padding: 0 0 0 2rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 2rem; */
}
.guitarsText {
	color: var(--light-font-color);
	font-size: 7rem;
}
.browseButton {
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	max-width: fit-content;
	outline: 3px solid var(--main-red-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	transition: 0.15s all ease-out;
}

/* AMPS */

.ampLeftColumn {
	position: relative;
	/* height: 80%; */
	grid-area: 1 / 1 / span 1 / span 1;
	/* padding: 0 0 0 2rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 2rem; */
}
.ampRightColumn {
	height: 80%;
	grid-area: 1 / 2 / span 1 / span 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	gap: 2rem;
	padding: 0 5rem 0 0;
	border-left: 1px solid #eeeeee;
}
.ampsText {
	color: var(--light-font-color);
	font-size: 10vmin;
}
.browseButtonAmp {
	max-width: fit-content;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 1vmin 2vmin;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 3vmin;
	transition: 0.15s all ease-out;
}
.browseButtonAmp:hover {
	background-color: var(--main-red-color);
	/* color: var(--dark-font-color); */
	outline: 3px solid var(--dark-font-color);
}

/* EFFECTS */

.effectLeftColumn {
	z-index: 3;
	height: 80%;
	grid-area: 1 / 1 / span 1 / span 1;
	padding: 0 0 0 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2rem;
	border-right: 1px solid #1e1e1e;
	background-color: var(--body-background-color);
}
.effectRightColumn {
	position: relative;
	z-index: 2;
	height: 80%;
	grid-area: 1 / 2 / span 1 / span 1;
	/* padding: 0 0 0 2rem; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* gap: 2rem; */
	background-color: var(--body-background-color);
}
.effectText {
	color: var(--main-red-color);
	font-size: 5rem;
}
.browseButtonEffect {
	max-width: fit-content;
	background-color: var(--dark-font-color);
	color: var(--light-font-color);
	padding: 0.9rem 1.8rem;
	outline: 3px solid var(--dark-font-color);
	border-radius: 0.4rem;
	font-size: 1.8rem;
	transition: 0.15s all ease-out;
}
.browseButtonEffect:hover {
	background-color: rgba(var(--light-font-color) 0.5);
	color: var(--main-red-color);
	outline: 3px solid var(--dark-font-color);
}
/* GUITARS HERO */
.redBg,
.blackBg,
.prs,
.explorer,
.schecter {
	max-width: 100%;
	position: absolute;
}
.redBg,
.blackBg,
.prs {
	height: inherit;
}
.redBg {
	max-height: 514px;
	z-index: 2;
	bottom: 0;
}
.blackBg {
	top: 0;
	left: 0;
}
.prs,
.explorer,
.schecter {
	z-index: 3;
}
.prs {
	max-height: 780px;
	right: 45%;
}
.explorer {
	max-height: 612px;
	top: 8%;
	right: 23%;
}
.schecter {
	max-height: 383px;
	top: 18%;
	right: 5%;
}

.browseButton:hover {
	background-color: rgba(var(--light-font-color) 0.5);
	/* color: var(--main-red-color); */
	outline: 3px solid var(--main-red-color);
}

/* AMPS HERO */
.ampHero {
	width: var(--home-full-width);
	height: var(--home-full-height);
}
.redAmpBgImg,
.blackAmpBgImg,
.marshall {
	width: var(--home-full-width);
	height: var(--home-full-height);
	position: absolute;
}
.blackAmpBgImg {
	/* max-height: 1080px; */
	z-index: 2;
	/* top: 0; */
}
.redAmpBgImg {
	/* max-height: 995px; */
	/* bottom: 0; */
	z-index: 3;
}
.marshall {
	z-index: 5;
	/* top: 15%;
	left: 4%; */
}

.homeHeading {
	font-weight: 800;
	font-size: 3rem;
}
.tagline {
	margin: 0;
	padding: 0;
	font-size: 1.4rem;
}

/* EFFECTS HERO */
.effectHero {
	height: var(--home-full-height);
}

.redEffectBgImg,
.blackEffectBgImg,
.afterneathImg,
.phase90Img,
.bigSkyImg {
	max-width: 100%;
	position: absolute;
}
.redEffectBgImg {
	z-index: 2;
	/* left: 0;
	bottom: 0; */
}
.blackEffectBgImg {
	z-index: 1;
	/* right: 0;
	bottom: 0; */
}
.afterneathImg,
.phase90Img,
.bigSkyImg {
	z-index: 3;
}
/* .afterneathImg,
.bigSkyImg {
	bottom: 4%;
}
.afterneathImg {
	left: 4%;
}
.bigSkyImg {
	left: 30%;
}
.phase90Img {
	right: 10%;
	top: 10%;
} */
