.container {
	min-height: 100vh;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	color: var(----dark-font-color);
}

.main {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
