.header {
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	padding: 0;
	margin: 0;
}
.nav {
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 7rem;
	font-size: 1.1rem;
	font-weight: 600;
}
.storeLogo:hover {
	filter: brightness(0%);
}
.rightLinks {
	display: flex;
	align-items: stretch;
	gap: 3rem;
	padding: 0;
}
.productLinks {
	margin: 0;
	padding: 0;
	display: flex;
}
.navbarLink {
	height: 100%;
	padding: 1.5rem;
	margin: 0;
	display: flex;
	align-items: stretch;
	transition: all 0.15s ease-out;
}
.navbarLink:hover {
	filter: brightness(120%);
	background-color: var(--main-font-color);
	color: var(--main-red-color);
}
.socialsLinks {
	display: flex;
	gap: 1.4rem;
}
.cartIcon {
	display: flex;
	align-items: center;
	filter: invert();
}
.cartIcon > * {
	fill: white;
}
