.header {
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	padding: 0;
	margin: 0;
	/* position: sticky; */
	z-index: 10;
	border-bottom: 3px solid var(--light-font-color);
}
.nav {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem 0 7rem;
	font-size: 1.1rem;
	font-weight: 600;
}
.input {
	border: 0;
	border-radius: 0.25rem;
	padding: 0.5rem 1rem;
	font-family: inherit;
	font-weight: 500;
	outline: 3px solid var(--main-red-color);
	transition: width 0.5s ease-out;
	width: 194px;
}
.input:focus {
	outline: 2px solid var(--dark-font-color);
	/* padding: 0.5rem 0 0.5rem 0.5rem; */
}
.searchElements {
	display: flex;
	gap: 1rem;
	align-items: center;
}
.searchBar {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.rightLinks {
	/* overflow: hidden; */
	position: relative;
	display: flex;
	align-items: stretch;
	gap: 3rem;
	padding: 0;
}
.productLinks {
	margin: 0;
	padding: 0;
	display: flex;
}
.navbarLink {
	height: 100%;
	padding: 1.5rem;
	margin: 0;
	display: flex;
	align-items: stretch;
	transition: all 0.15s ease-out;
}
.navbarLink:hover {
	filter: brightness(120%);
	background-color: var(--light-font-color);
	color: var(--main-red-color);
}
.socialsLinks {
	display: flex;
	gap: 1.4rem;
}
.cartIcon {
	display: flex;
	align-items: center;
}
.mobileMenuMaster {
	position: absolute;
	z-index: 100;
	top: 50px;
	right: 0;
	background-color: var(--dark-font-color);
	border: 3px solid var(--main-red-color);
	color: var(--light-font-color);
	font-size: 3rem;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.mobileMenuRow {
	padding: 3rem;
	overflow: hidden;
}
.mobileMenuRow:active {
	background-color: var(--light-font-color);
	color: var(--dark-font-color);
}
@media (max-width: 1200px) {
	.nav {
		padding: 0 1.5rem 0 3.5rem;
		font-size: 1rem;
		font-weight: 600;
	}
	.input {
		padding: 0.5rem 1rem;
		width: 170px;
	}
}
@media (max-width: 900px) {
	.nav {
		padding: 0 1.4rem 0 1rem;
		font-size: 1rem;
		font-weight: 600;
	}
	.input {
		padding: 0.5rem 1rem;
		width: 140px;
	}
	.rightLinks {
		gap: 1rem;
	}
	.navbarLink {
		padding: 1rem;
	}
}
@media (max-width: 600px) {
	.nav {
		padding: 0.5rem;
	}
	.productLinks {
		display: none;
	}
}
