.pagination {
	display: flex;
	padding: 1rem 3rem;
	gap: 0.5rem;
}
.pageLink {
	/* box-sizing: border-box; */
	padding: 0.3rem 0.6rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.5rem;
	background-color: crimson;
	color: #ececec;
}
.pageLink:hover {
	background-color: #ececec;
	color: crimson;
	font-weight: bold;
	outline: 2px solid crimson;
}
