.productMaster {
	width: 75%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.productHeading {
	width: 100%;
	font-size: 2rem;
	font-weight: 900;
	margin: 1rem 0 0;
	text-align: center;
}
.productBody {
	margin-top: 3rem;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	align-items: flex-start;
}
.bodyImages {
	display: grid;
	grid-template-columns: fit-content(50%) 1fr;
	grid-template-rows: 1fr;
	column-gap: 2rem;
}
.mainImage {
	width: fit-content;
	padding: 0 1rem;
	display: flex;
	justify-content: flex-start;
}
.imageTiles {
	height: 100%;
}
.productCarousel {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* gap: 2rem; */
}
.carouselImage {
	width: 80px;
	height: 80px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.bodyText {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr;
	row-gap: 2rem;
}
.bodyRowOne,
.bodyRowTwo,
.bodyRowThree,
.bodyRowFour {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	column-gap: 3.5rem;
	align-items: baseline;
}
.bodyRowOne {
	align-items: baseline;
}
.bodyRowThree {
	align-items: flex-start;
}
.ourPrice,
.ourRating {
	text-align: right;
	font-weight: 700;
	font-size: 2.5rem;
}
.price,
.rating {
	text-align: left;
	font-weight: 900;
	font-size: 3.5rem;
	color: var(--main-red-color);
}
.rating {
	font-size: 2rem;
}
.addButton {
	text-align: right;
}
.addToCart {
	width: 200px;
	border: 0;
	border-radius: 4px;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.75rem 1.8rem;
}
.shippingInfo {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 0.5rem;
	font-weight: 700;
}
.shippingCost {
	font-size: 1.5rem;
}
.shippingPrice {
	color: var(--main-red-color);
	font-weight: 900;
}
.quickSpecs {
	text-align: right;
	color: var(--main-red-color);
	font-size: 1.8rem;
	font-weight: 700;
}
.quickSpecsList {
	font-size: 1.2rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.emphasizedSpec {
	color: var(--main-red-color);
	font-weight: 500;
}
.addToCart:hover {
	outline: 3px solid var(--main-red-color);
	background-color: var(--light-font-color);
	color: var(--main-red-color);
}

.productDescription {
	color: var(--light-font-color);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	/* Sets width to 100% viewport minus scrollbar */
	width: calc(100vw - 17px);
	overflow-x: hidden;
}
.prodDescHeading,
.techSpecsHeading {
	background-color: var(--main-red-color);
	padding: 1rem 0;
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
}
.prodDescTextHeading {
	font-size: 1.5rem;
	font-weight: 700;
}
.prodDescBody {
	background-color: var(--main-red-color);
	margin: 0;
	display: flex;
	justify-content: center;
}
.prodDescText {
	width: 70%;
	padding: 2rem 0;
	margin: 0;
	font-size: 1.2rem;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.techSpecs {
	width: 100%;
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.techSpecsHeading {
	color: var(--main-red-color);
	background-color: var(--light-font-color);
}
.techSpecsBody {
	width: 75%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.techSpecsBlockHeading {
	font-size: 2rem;
	font-weight: 700;
}
.techSpecTable {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 80px;
}
.techSpecRow {
	background-color: lightgray;
	font-size: 2rem;
	font-weight: 500;
	padding: 1rem 0;
	display: grid;
	grid-template-columns: 40% 60%;
}
.techSpecRow:nth-child(2n) {
	background-color: darkgray;
}
