.productMaster {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.productHeading {
	width: 100%;
	font-size: 2rem;
	font-weight: 900;
	margin: 1rem 0 0;
	text-align: center;
}
.productBody {
	margin-top: 3rem;
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	align-items: flex-start;
}
.bodyImages {
	display: grid;
	grid-template-columns: 85% 15%;
	grid-template-rows: 1fr;
	column-gap: 2rem;
}
.bodyText {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr;
	row-gap: 2rem;
}
.bodyRowOne,
.bodyRowTwo,
.bodyRowThree,
.bodyRowFour {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	column-gap: 3.5rem;
	align-items: baseline;
}
.bodyRowOne {
	align-items: baseline;
}
.bodyRowThree {
	align-items: flex-start;
}
.ourPrice,
.ourRating {
	text-align: right;
	font-weight: 700;
	font-size: 2.5rem;
}
.price,
.rating {
	text-align: left;
	font-weight: 900;
	font-size: 3.5rem;
	color: var(--main-red-color);
}
.rating {
	font-size: 2rem;
}
.addButton {
	text-align: right;
}
.addToCart {
	width: 200px;
	border: 0;
	border-radius: 4px;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.75rem 1.8rem;
}
.shippingInfo {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 0.5rem;
	font-weight: 700;
}
.shippingCost {
	font-size: 1.5rem;
}
.shippingPrice {
	color: var(--main-red-color);
	font-weight: 900;
}
.quickSpecs {
	text-align: right;
	color: var(--main-red-color);
	font-size: 1.8rem;
	font-weight: 700;
}
.quickSpecsList {
	font-size: 1.2rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.emphasizedSpec {
	color: var(--main-red-color);
	font-weight: 500;
}
.addToCart:hover {
	outline: 3px solid var(--main-red-color);
	background-color: var(--light-font-color);
	color: var(--main-red-color);
}
