/* PRODUCT MASTER */
.productMaster {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

/* Enhanced Image Modal */
.imageModalMaster {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr;
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.9);
	width: 85%;
	height: 90vh;
}
.closeButton {
	padding: 0.5rem 0.75rem;
	justify-self: flex-end;
	background-color: none;
	font-weight: 900;
	color: var(--light-font-color);
	height: fit-content;
}
.closeButton:hover {
	cursor: pointer;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
}
.imageModal {
	width: 100%;
	/* padding: 6rem 0; */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	overflow: hidden;
	height: auto;
}
.caret {
	/* display: block; */
}
.modalImg {
	width: min(100%, 500px);
	height: auto;
}
.ampImg {
	width: min(100%, 720px);
	height: auto;
}
.scrollButton {
	/* position: absolute; */
	margin-bottom: 1rem;
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	border: none;
	border-radius: 0.5rem;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
}
.scrollButton:hover {
	background-color: var(--light-font-color);
	color: var(--main-red-color);
	cursor: pointer;
}
.previousButton,
.nextButton {
	top: 40%;
}
.previousButton {
	left: 20%;
}
.nextButton {
	right: 20%;
}

/* PRODUCT BODY */
.productHeading {
	width: 100%;
	font-size: 3rem;
	font-weight: 900;
	margin: 3rem 0 0;
	text-align: center;
}
.productBody {
	margin-top: 4rem;
	width: 65%;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
}

/* Product Images */
.bodyImages {
	max-height: fit-content;
	height: min-content;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: fit-content fit-content;
	column-gap: 2rem;
}
.mainImage {
	display: block;
	text-align: center;
	height: fit-content;
}
.mainImage:hover {
	cursor: pointer;
}
.imageTiles {
	height: fit-content;
}
.productCarousel {
	height: 100%;
	display: flex;
	justify-content: space-around;
	gap: 1.5rem;
}
.productCarouselAmps {
	height: 100%;
	display: flex;
	justify-content: space-around;
}
.carouselImage {
	max-width: 80px;
	max-height: 140px;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Product text */
.bodyText {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 2fr;
	row-gap: 2rem;
	align-self: center;
	width: 100%;
}
.bodyRowOne,
.bodyRowTwo,
.bodyRowThree,
.bodyRowFour {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	column-gap: 3rem;
	align-items: baseline;
	max-width: 100%;
}
.bodyRowOne > * {
	align-items: baseline;
}
.bodyRowThree {
	align-items: flex-start;
}
.ourPrice,
.ourRating {
	text-align: right;
	font-weight: 700;
	font-size: 2.5rem;
}
.price,
.rating {
	text-align: left;
	font-weight: 900;
	font-size: 3.5rem;
	color: var(--main-red-color);
	max-width: 100%;
}
.rating {
	font-size: 2rem;
}
.addButton {
	text-align: right;
}
.addToCart {
	width: 200px;
	border: 2px solid var(--main-red-color);
	border-radius: 4px;
	background-color: var(--main-red-color);
	color: var(--light-font-color);
	font-family: inherit;
	font-weight: 600;
	font-size: 1.1rem;
	padding: 0.75rem 1.8rem;
}
.addToCart:hover {
	/* outline: 3px solid var(--main-red-color); */
	background-color: var(--light-font-color);
	color: var(--main-red-color);
	cursor: pointer;
}
.shippingInfo {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 0.5rem;
	font-weight: 700;
}
.shippingCost {
	font-size: 1.5rem;
}
.shippingPrice {
	color: var(--main-red-color);
	font-weight: 900;
}
/* Quick Specs */
.quickSpecs {
	text-align: right;
	color: var(--main-red-color);
	font-size: 1.8rem;
	font-weight: 700;
}
.quickSpecsList {
	font-size: 1.2rem;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}
.emphasizedSpec {
	color: var(--main-red-color);
	font-weight: 500;
}

/* Product Description */
.productDescription {
	color: var(--light-font-color);
	margin-top: 2rem;
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	/* Sets width to 100% viewport minus scrollbar */
	width: calc(100vw - 17px);
	overflow-x: hidden;
}
.prodDescHeading,
.techSpecsHeading {
	background-color: var(--main-red-color);
	padding: 1rem 0;
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
}
.prodDescTextHeading {
	font-size: 1.5rem;
	font-weight: 700;
}
.prodDescBody {
	background-color: var(--main-red-color);
	margin: 0;
	display: flex;
	justify-content: center;
}
.prodDescText {
	width: 70%;
	padding: 2rem 0;
	margin: 0;
	font-size: 1.2rem;
	line-height: 2rem;
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
.techSpecs {
	width: 100%;
	margin: 2rem 0 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.techSpecsHeading {
	color: var(--main-red-color);
	background-color: var(--light-font-color);
}
.techSpecsBody {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}
.techSpecsBlockHeading {
	font-size: 2rem;
	font-weight: 700;
}
.techSpecTable {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 80px;
}
.techSpecRow {
	background-color: lightgray;
	font-size: 1.5rem;
	font-weight: 500;
	padding: 2rem 4rem;
	display: grid;
	grid-template-columns: 40% 60%;
}
/* Sets every other row to be a different shade of gray */
.techSpecRow:nth-child(2n) {
	background-color: darkgray;
}
@media (max-width: 1500px) {
	.productBody {
		width: 85%;
	}
}
@media (max-width: 1200px) {
	.imageModalMaster {
		width: 96%;
	}
	.productBody {
		margin-top: 2rem;
		width: 90%;
	}
	.productHeading {
		font-size: 2.5rem;
	}
	.prodDescText {
		width: 85%;
	}
	.price {
		font-size: 3rem;
	}
	.techSpecs {
		margin: 1rem 0 2rem;
	}
	.techSpecsHeading {
		font-size: 3rem;
	}
	.techSpecsBody {
		width: 80%;
	}
	.techSpecRow {
		font-size: 1.2rem;
	}
}
@media (max-width: 900px) {
	.imageModal {
		gap: 1rem;
	}
	.productBody {
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	.bodyImages,
	.bodyText {
		padding: 0 1rem;
	}
	.productHeading {
		margin: 1rem 0 0;
		font-size: 2rem;
	}
	.bodyText {
		grid-template-rows: 1fr;
	}
	.bodyRowOne,
	.bodyRowTwo,
	.bodyRowThree,
	.bodyRowFour {
		column-gap: 1.5rem;
		height: fit-content;
	}
	.ourPrice,
	.ourRating {
		font-size: 2rem;
	}
	.price,
	.rating {
		font-size: 2.5rem;
	}
	.addToCart {
		width: 150px;
		border: 0;
		border-radius: 4px;
		background-color: var(--main-red-color);
		color: var(--light-font-color);
		font-family: inherit;
		font-weight: 500;
		font-size: 1.1rem;
		padding: 0.5rem 1rem;
	}
	.shippingInfo {
		row-gap: 0.1rem;
		font-weight: 600;
		font-size: 0.9rem;
	}
	.shippingCost {
		font-size: 1.2rem;
	}
	.quickSpecs {
		font-size: 1.5rem;
		font-weight: 600;
	}
	.quickSpecsList {
		font-size: 1rem;
	}
	.prodDescHeading {
		font-size: 2.5rem;
	}
	.prodDescTextHeading {
		font-size: 1.3rem;
	}
	.prodDescText {
		width: 85%;
		font-size: 1rem;
	}
	.techSpecsBody {
		width: 90%;
	}
}
@media (max-width: 600px) {
	.productHeading {
		width: 90%;
		font-size: 1.8rem;
	}
	.productBody {
		width: 100%;
		flex-direction: column;
	}
	.bodyText {
		width: 100%;
		margin-top: 2rem;
		row-gap: 1.5rem;
	}
	.bodyRowOne,
	.bodyRowTwo,
	.bodyRowThree,
	.bodyRowFour {
		width: 100%;
	}
	.ourPrice,
	.ourRating {
		font-size: 2rem;
	}

	.price {
		font-size: 2.2rem;
	}
	.rating {
		font-size: 1.8rem;
	}
	.addToCart {
		width: 200px;
		padding: 0.8rem 1.6rem;
	}
	.productDescription {
		width: 100vw;
	}
	.prodDescHeading {
		font-size: 2rem;
	}
	.prodDescTextHeading {
		font-size: 1.1rem;
	}
	.prodDescText {
		width: 85%;
		font-size: 0.9rem;
	}
	.shippingInfo,
	.quickSpecsList {
		max-width: 90%;
	}
	.techSpecsHeading {
		font-size: 2.5rem;
	}
	.techSpecRow {
		padding: 1.2rem 1rem;
		font-size: 1rem;
	}
	.techSpecsBody {
		width: 90%;
	}
}
