.searchMaster {
	display: flex;
	width: 90%;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.resultsContainer {
	margin-top: 3rem;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	/* gap: 2rem; */
}
