.searchMaster {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.searchHeading {
	width: var(--home-full-width);
	background-color: var(--body-background-color);
	color: var(--dark-font-color);
	text-align: center;
	font-size: 4rem;
	font-weight: 900;
	padding: 2rem 0;
}
.searchContainer {
	width: 100%;
	display: flex;
	justify-content: center;
}
.resultsContainer {
	margin-bottom: 3rem;
	width: 80%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	/* gap: 2rem; */
}
@media (max-width: 1200px) {
	.searchHeading {
		font-size: 3.5rem;
	}
	.resultsContainer {
		width: 95%;
	}
}
@media (max-width: 900px) {
	.searchHeading {
		font-size: 3rem;
	}
	.resultsContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
@media (max-width: 900px) {
	.searchHeading {
		font-size: 2.5rem;
	}
	.resultsContainer {
		grid-template-columns: 1fr;
	}
}
