/* FONT IMPORT - Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	/* COLORS */
	--body-background-color: #eeeeee;
	--dark-font-color: #121212;
	--light-font-color: #f1f1f1;
	--main-red-color: #af1a2f;
	/* DIMENSIONS */
	/* Full width excluding scroll bar (17px) */
	--home-full-width: calc(100vw - 17px);
	--home-full-height: calc((100vw - 80px) / 1.7777777778);
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--body-background-color);
	color: var(--dark-font-color);
	font-family: 'Kumbh Sans', sans-serif;
	overflow-x: hidden;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
input {
	border: 0;
	border-radius: 0.25rem;
	padding: 0.5rem 0 0.5rem 0.5rem;
	font-family: inherit;
	transition: width 0.5s ease-out;
	/* width: 100%; */
}
input:focus {
	outline: none;
}
.header {
	background-color: var(--main-red-color);
	padding: 0;
}
