/* FONT IMPORT - Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	/* COLORS */
	--body-background-color: #eeeeee;
	--dark-font-color: #121212;
	--dark-gray: #1e1e1e;
	--light-font-color: #f1f1f1;
	--main-red-color: #af1a2f;
	/* DIMENSIONS */
	/* Full width excluding scroll bar (17px) */
	--home-full-width: calc(100vw - 17px);
	/* Full height excluding navbar (80px) */
	--home-full-height: calc((100vw - 80px) / 1.7777777778);
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	overflow-x: hidden;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--body-background-color);
	color: var(--dark-font-color);
	font-family: 'Kumbh Sans', sans-serif;
}
h1 {
	margin: 0;
	padding: 0;
}
h2 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

.header {
	background-color: var(--main-red-color);
	padding: 0;
}
/* Styles for index carousel */
/* Solution was more oriented around a vanilla react app,
therefore those components are not styled within the 
Home module that the other home page elements are 
styled from */
.image {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	/* width: 350px;
	height: 525px; */
	object-fit: cover;
	z-index: 3;
	opacity: 0;

	transition: 500ms;
}
.image--active {
	opacity: 1;
	transform: scale(1);
	z-index: 4;
}

.image--left {
	transform: translateX(-250%);
	transition: 500ms;
	/* opacity: 0.3; */
	z-index: 4;
}

.image--right {
	transform: translateX(250%);
	transition: 500ms;
	/* opacity: 0.3; */
	z-index: 4;
}

/* @media (pointer: none) {
	:root {
		--home-full-width: 100vw;
	}
} */
/* @media (pointer: none) and (max-width: 600px) {
	#__next {
		overflow-x: hidden;
	}
}
 */
