/* FONT IMPORT - Kumbh Sans */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
	--body-background-color: #222222;
	--main-font-color: #ececec;
}

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-color: var(--body-background-color);
	color: var(--main-font-color);
	font-family: Arial, Helvetica, sans-serif;
}
h1 {
	margin: 0;
	padding: 1.5rem 4rem;
}
h2 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}
.header {
	background-color: crimson;
	padding: 0;
}
.main-container {
	margin: 1rem 2rem;
}
.guitars-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-shrink: 1 0 auto;
	justify-content: space-between;
	align-items: flex-start;
	/* gap: 1.5rem; */
}
.guitar-card {
	display: flex;
	flex-direction: column-reverse;
	/* flex-shrink: 1 0 auto; */
	justify-content: flex-end;
	align-items: center;
	/* min-width: 30%; */
	max-width: 250px;
	width: 100%;
	max-height: 400px;
	height: 100%;
	/* max-height: 375px; */
}
.guitar-card {
	width: 100%;
	max-height: 100%;
	/* width: fit-content; */
}
